{% from "al-macros.njk" import icon %}
<!-- modal da newsletter: formulário do Mailchimp enviado pela Juliana -->
<div class="modal-overlay" id="newsletterOverlay" hidden>
  <div class="modal modal-newsletter" role="dialog" aria-modal="true" aria-labelledby="newsletterTitle">
    <button type="button" class="modal-close" data-close-newsletter aria-label="Fechar">{{ icon("fechar", 20) }}</button>

    <div id="mc_embed_shell">
      <link href="https://cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css" />
      <div id="mc_embed_signup">
        <form action="https://gmail.us6.list-manage.com/subscribe/post?u=619e64cc77e252d7824b1135d&amp;id=dc9ee30f30&amp;f_id=00f706e2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <div id="mc_embed_signup_scroll">
            <h2 id="newsletterTitle">Inscreva-se na nossa newsletter!</h2>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Endereço de e-mail <span class="asterisk">*</span></label>
              <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required value="" />
            </div>
            <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display: none;"></div>
              <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
              <input type="text" name="b_619e64cc77e252d7824b1135d_dc9ee30f30" tabindex="-1" value="" />
            </div>
            <div class="optionalParent">
              <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Inscrever" />
                <p>
                  <a href="https://eepurl.com/jdwZGY" title="Mailchimp, marketing por e-mail">
                    <img class="refferal_badge mc-badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" />
                  </a>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
