---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc></url>
  <url><loc>{{ site.url }}/sobre/</loc></url>
  <url><loc>{{ site.url }}/projetos/</loc></url>
  <url><loc>{{ site.url }}/pesquisa-e-formacao/</loc></url>
  <url><loc>{{ site.url }}/noticias/</loc></url>
  {%- for p in projetos %}
  <url><loc>{{ site.url }}/projetos/{{ p.slug }}/</loc></url>
  {%- endfor %}
  {%- for n in noticias %}
  <url><loc>{{ site.url }}/noticias/{{ n.slug }}/</loc>{% if n.data %}<lastmod>{{ n.data | dataIso }}</lastmod>{% endif %}</url>
  {%- endfor %}
</urlset>
